
<div ng-controller="productsController">

    <div class="row product-list" ng-repeat="row in rows">
            <div class="col-md-4" ng-repeat="col in row">
                <div class="item-wrap">
                <img class="img-responsive" src="{{col.ImageLink}}"/>
                    <a href="#!/Products/{{col.$id}}">{{col.Name}}</a>
                </div>
            </div>
    </div>

</div>