@model ShopParser.Models.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <div class="input-group">
            @Html.TextBoxFor(m=>m.RequestString,new {@class="form-control",@placeholder= "Input catalog link for example:https://can.ua/cpu/c1476/" })
            <span class="input-group-btn">
                <button class="btn btn-default" >Parse</button>
            </span>
        </div>
   </div>
</div>

